<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AstralWeb\Banner\Api\BannerRepositoryInterface" type="AstralWeb\Banner\Model\BannerRepository" />
    <preference for="AstralWeb\Banner\Api\ItemRepositoryInterface" type="AstralWeb\Banner\Model\ItemRepository" />
    <virtualType name="itemImageUploader" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">banner/item/tmp</argument>
            <argument name="basePath" xsi:type="string">banner/item</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="AstralWeb\Banner\Controller\Adminhtml\Item\Image\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">itemImageUploader</argument>
        </arguments>
    </type>
</config>