<?xml version="1.0"?>
<!--
/**
 * Copyright © Thomas Nguyen, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="T2N\BannerManager\Api\BannerItemRepositoryInterface" type="T2N\BannerManager\Model\BannerItemRepository"/>
    <preference for="T2N\BannerManager\Api\BannerRepositoryInterface" type="T2N\BannerManager\Model\BannerRepository"/>
    <preference for="T2N\BannerManager\Api\Data\ItemInterface" type="T2N\BannerManager\Model\Banner\Item"/>
    <preference for="T2N\BannerManager\Api\Data\BannerInterface" type="T2N\BannerManager\Model\Banner"/>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="T2N\BannerManager\Api\Data\BannerInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">banner_entity</item>
                    <item name="identifierField" xsi:type="string">entity_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="T2N\BannerManager\Api\Data\BannerInterface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="storeReader" xsi:type="string">T2N\BannerManager\Model\ResourceModel\Banner\Relation\Store\ReadHandler</item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="storeCreator" xsi:type="string">T2N\BannerManager\Model\ResourceModel\Banner\Relation\Store\SaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="storeUpdater" xsi:type="string">T2N\BannerManager\Model\ResourceModel\Banner\Relation\Store\SaveHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="T2N\BannerManager\Api\Data\BannerInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="T2N\BannerManager\BannerImageUpload" type="T2N\BannerManager\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">banner/tmp/item</argument>
            <argument name="basePath" xsi:type="string">banner/item</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="T2N\BannerManager\Controller\Adminhtml\Item\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">T2N\BannerManager\BannerImageUpload</argument>
        </arguments>
    </type>
</config>
