<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_ElasticSearch
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Amasty_ElasticSearch::config" title="Elastic Search" sortOrder="11319" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::system">
                    <resource id="Amasty_ElasticSearch::Amasty_ElasticSearch" title="Amasty ElasticSearch" sortOrder="100">
                        <resource id="Amasty_ElasticSearch::stop_words" title="Manage Stop Words" sortOrder="10" />
                        <resource id="Amasty_ElasticSearch::synonym" title="Manage Synonyms" sortOrder="20" />
                        <resource id="Amasty_ElasticSearch::relevance_rules" title="Relevance Rules" sortOrder="30" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
