<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_ElasticSearch
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Amasty_ElasticSearch" setup_version="1.6.4">
        <sequence>
            <module name="Magento_CatalogSearch"/>
            <module name="Magento_Search"/>
            <module name="Magento_Indexer"/>
            <module name="Magento_CatalogRule"/>
            <module name="Magento_CatalogRuleConfigurable"/>
        </sequence>
    </module>
</config>
